/* -------------------------------------------------------------------------- */
/* VARIABLES
/* -------------------------------------------------------------------------- */

:root {

    /* #000000 */ --primary: 0, 0, 0;
    /* #323232 */ --secondary: 50, 50, 50;

	/* #EEEEEE */ --light: 238, 238, 238;
    /* #000000 */ --dark: 0, 0, 0;
    /* #323232 */ --step: 50, 50, 50;

	/* #9acd32 */ --accent: 241, 250, 238; /*footer highlight, links highlight, and book now BG, nav bar */
	/* #000000 */ --highlight: 230, 57, 70; /* ?? */

    /* Color Scheme */   --fatigue: 230, 57, 70;

                    --fatigue-050:  238, 239, 237;
                    --fatigue-100:  241, 250, 238; /* main text and header */
                    --fatigue-200:  241, 250, 238; /* nav bar */
                    --fatigue-300:  241, 250, 238; /* phone # and footer disclaimer */
                    --fatigue-400:  230, 57, 70; /*guiding values blurb */
                    --fatigue-500:  168, 218, 220; /* book now blurb text */
                    --fatigue-600:  168, 218, 220; /*footer nav bar and copyright */
                    --fatigue-700:  29, 53, 87; /* dropdown nav bar and cards border */
                    --fatigue-800:  68, 80, 59; /* nav bar dividers and mid page line */
                    --fatigue-900:  69, 123, 157; /* BG and Body */
                    --fatigue-925:  29, 53, 87; /* footer, values, header */
                    --fatigue-950:  69, 123, 157; /* book now BG*/
                    --fatigue-975:  68, 80, 59;  /* nav bar drop down on highlight*/
                    --fatigue-999:  29, 53, 87;  /* cards BG on highlight */
                    --fatigue-1000: 230, 57, 70; 
    
    /* #000000 */ --accent1: 255, 199, 38;
    /* #000000 */ --accent2: 73, 240, 198;
    /* #000000 */ --accent3: 108, 117, 125;

	/* #20C997 */ --success: 32, 201, 151;
    /* #FFC726 */ --warning: 255, 199, 38;
    /* #DC3545 */ --danger: 220, 53, 69;

    /* #000000 */ --black: 0, 0, 0;
    /* #ffffff */ --white: 255, 255, 255;

    /* FONT SIZES ----------------------------------------------------------- */
    /* 13->16 */   --step--1: clamp(0.8125rem, 0.71875rem + 0.25vw, 1rem); 
    /* 16->18 */   --step-nav: clamp(1rem, 0.95rem + 0.2vw, 1.125rem);
    /* 16->20 */   --step-0: clamp(1rem, 0.9rem + 0.4vw, 1.25rem);
    /* 18->28 */   --step-1: clamp(1.125rem, 0.875rem + 1vw, 1.75rem);
    /* 22->38 */   --step-2: clamp(1.375rem, 0.975rem + 1.6vw, 2.375rem);
    /* 27->48 */   --step-3: clamp(1.6875rem, 1.3125rem + 1.5vw, 3rem);
    /* 32->67 */   --step-4: clamp(2rem, 1.375rem + 2.5vw, 4.1875rem);
    /* 40->96 */   --step-5: clamp(2.5rem, 1.5rem + 4vw, 6rem);
    /* 46->150 */  --step-6: clamp(2.875rem, 0.375rem + 8vw, 9.375rem);

    /* SPACING -------------------------------------------------------------- */
    --s025: 0.25rem;    /* 4px */
    --s050: 0.5rem;     /* 8px */
    --s100: 1rem;       /* 16px */
    --s150: 1.5rem;     /* 24px */
    --s200: 2rem;       /* 32px */
    --s300: 3rem;       /* 48px */
    --s400: 4rem;       /* 64px */
    --s500: 5rem;       /* 80px */
    --s600: 6rem;       /* 96px */
    --s700: 7rem;       /* 112px */
    --s800: 8rem;       /* 128px */
    --s900: 9rem;       /* 144px */

    /* VARIABLE SPACING 400->1400px 50% -> 100% */
    --s025v: clamp(0.125rem, 0.075rem + 0.2vw, 0.25rem);                        /* 2px->4px */
    --s050v: clamp(0.25rem, 0.15rem + 0.4vw, 0.5rem);                           /* 4px->8px */
    --s100v: clamp(0.5rem, 0.3rem + 0.8vw, 1rem);                               /* 8px->16px */
    --s150v: clamp(0.75rem, 0.45rem + 1.2vw, 1.5rem);                           /* 12px->24px */
    --s200v: clamp(1rem, 0.6rem + 1.6vw, 2rem);                                 /* 16px->32px */
    --s250v: clamp(1.25rem, 0.75rem + 2vw, 2.5rem);                             /* 20px->40px */
    --s300v: clamp(1.5rem, 0.9rem + 2.4vw, 3rem);                               /* 24px->48px */
    --s400v: clamp(2rem, 1.2rem + 3.2vw, 4rem);                                 /* 32px->64px */
    --s500v: clamp(2.5rem, 1.5rem + 4vw, 5rem);                                 /* 40px->80px */
    --s600v: clamp(3rem, 1.8rem + 4.8vw, 6rem);                                 /* 48px->96px */
    --s700v: clamp(3.25rem, 1.75rem + 6vw, 7rem);                               /* 56px->112px */
    --s800v: clamp(4rem, 2.4rem + 6.4vw, 8rem);                                 /* 64px->128px */
    --s900v: clamp(4.5rem, 2.6999999999999997rem + 7.200000000000001vw, 9rem);  /* 72px->144px */

    /* GUTTER & NAVBAR ------------------------------------------------------ */
    --gutter: clamp(1rem, -0.6000000000000001rem + 6.4vw, 5rem);                /* 16px->80px */

    /* MAX WIDTHS ----------------------------------------------------------- */
	--max-wide: 80rem;
	--max-narrow: 60rem;
	--max-thin: 50rem;
	--max-tiny: 25rem;
}


/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

*, *::before, *::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	background-color: rgb(var(--fatigue-900));
	color: rgb(var(--fatigue-100));
	font-family: 'font-primary', system-ui, sans-serif;
    font-weight: 400;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}
input, button, textarea, select {
	font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}
hr {
	background-color: rgb(var(--fatigue-700));
	border: 0;
	box-sizing: content-box;
	height: 1px;
	margin: 2rem 0;
	overflow: visible;
}
#root, #__next {
	isolation: isolate;
}

/* -------------------------------------------------------------------------- */
/* LAYOUT STYLES
/* -------------------------------------------------------------------------- */

.max-wide {
	margin-left: auto; margin-right: auto;
	max-width: var(--max-wide);
}
.max-narrow {
	margin-left: auto; margin-right: auto;
	max-width: var(--max-narrow);
}
.max-narrow-left {
	max-width: var(--max-narrow);
}
.max-thin {
	margin-left: auto; margin-right: auto;
	max-width: var(--max-thin);
}
.max-tiny {
	margin-left: auto; margin-right: auto;
	max-width: var(--max-tiny);
}
.max-none {
	max-width: none;
}
.gutter {
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

/* -------------------------------------------------------------------------- */
/* layout -> positioning */

.pos-abs { position: absolute; }
.pos-rel { position: relative; }

.abs0	 { top: 0; left: 0; right: 0; bottom: 0; }
.abs0-l	 { left: 0; }
.abs0-r	 { right: 0; }
.abs0-t	 { top: 0; }
.abs0-b	 { bottom: 0; }

.z-1 { z-index: -1; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.z5 { z-index: 5; }
.z10 { z-index: 10; }

.fit-cover { max-width: none; object-fit: cover; object-position: center center; }
.fit-top-c { object-position: top center; }

/* -------------------------------------------------------------------------- */
/* layout -> overflow */

.overflow-hide { overflow: hidden; }

/* -------------------------------------------------------------------------- */
/* layout -> widths & heights */

.w-100	{ width: 100%; }
.w-75	{ width: 75%; }
.w-67	{ width: calc(100% / 3 * 2); }
.w-50	{ width: 50%; }
.w-40	{ width: 40%; }
.w-33	{ width: calc(100% / 3); }
.w-25	{ width: 25%; }
.w-20	{ width: 20%; }
.w-17	{ width: calc(100% / 6); }

.h-100 { height: 100%; }
.h-auto { height: auto; }

/* (gap) * (# of gaps) / (total items) */
.w-17__gap-200 {
	--gap: calc(var(--s200v) * 5 / 6);
	width: calc(100% / 6 - var(--gap));
}
.w-20__gap-200 {
	--gap: calc(var(--s200v) * 4 / 5);
	width: calc(100% / 5 - var(--gap));
}
.w-25__gap-200 {
	--gap: calc(var(--s200v) * 3 / 4);
	width: calc(100% / 4 - var(--gap));
}
.w-33__gap-200 {
	--gap: calc(var(--s200v) * 2 / 3);
	width: calc(100% / 3 - var(--gap));
}
.w-50__gap-200 {
	--gap: calc(var(--s200v) * 1 / 2);
	width: calc(100% / 2 - var(--gap));
}


/* -------------------------------------------------------------------------- */
/* layout -> display, grid, flex */

.block { display: block; }
.inline-block { display: inline-block; }
.no-br, .nobr	{ white-space: nowrap; }

.grid-12	{
	display: grid;
	gap: var(--step-4) var(--step-2);
	grid-template-columns: repeat(12, 1fr);
}
.grid-9	{
	display: grid;
	grid-template-columns: repeat(9, 1fr);
}

.no-gap, .gap-none  { gap: 0; }

.gap-100  			{ gap: var(--s100v); }
.gap-200  			{ gap: var(--s200v); }
.gap-300  			{ gap: var(--s300v); }
.gap-400  			{ gap: var(--s400v); }
.gap-500  			{ gap: var(--s500v); }
.gap-600  			{ gap: var(--s600v); }
.gap-700  			{ gap: var(--s700v); }
.gap-800  			{ gap: var(--s800v); }
.gap-900  			{ gap: var(--s900v); }

.gap--1 			{ gap: var(--step--1); }
.gap-0				{ gap: var(--step-0);  }
.gap-1 				{ gap: var(--step-1);  }
.gap-2 				{ gap: var(--step-2);  }
.gap-3				{ gap: var(--step-3);  }
.gap-4 				{ gap: var(--step-4);  }
.gap-5 				{ gap: var(--step-5);  }
.gap-6 				{ gap: var(--step-6);  } 

.align-self-center	{ align-self: center; }
.align-self-end		{ align-self: end; }
.align-center		{ align-items: center; }
.align-start		{ align-items: start; }
.align-end			{ align-items: end; }

.justify-center		{ justify-content: center; }
.justify-start		{ justify-content: start; }
.justify-end		{ justify-content: end; }
.justify-space		{ justify-content: space-between; }

.flex 		{ display: flex; }
.flex-wrap	{ flex-wrap: wrap; }
.flex-row-reverse { flex-direction: row-reverse; } 


.span-1		{ grid-column: span 1; }
.span-2		{ grid-column: span 2; }
.span-3		{ grid-column: span 3; }
.span-4		{ grid-column: span 4; }
.span-5		{ grid-column: span 5; }
.span-6		{ grid-column: span 6; }
.span-7		{ grid-column: span 7; }
.span-8		{ grid-column: span 8; }
.span-9		{ grid-column: span 9; }
.span-10	{ grid-column: span 10; }
.span-11	{ grid-column: span 11; }
.span-12	{ grid-column: span 12; }

/* -------------------------------------------------------------------------- */
/* MARGIN & PADDING
/* -------------------------------------------------------------------------- */

.m0-first :first-child 	{ margin-top: 0; }
.m0-last :last-child 	{ margin-bottom: 0; }

.m0		{ margin: 0; }
.m0-t	{ margin-top: 0; }
.m0-b	{ margin-bottom: 0; }
.m0-l	{ margin-left: 0; }
.m0-r	{ margin-right: 0; }
.mauto  { margin-left: auto; margin-right: auto; }

.m100	{ margin: var(--s100) }   .m100-l { margin-left: var(--s100) }   .m100-r { margin-right: var(--s100) }   .m100-t { margin-top: var(--s100) }   .m100-b { margin-bottom: var(--s100) }
.m200	{ margin: var(--s200) }   .m200-l { margin-left: var(--s200) }   .m200-r { margin-right: var(--s200) }   .m200-t { margin-top: var(--s200) }   .m200-b { margin-bottom: var(--s200) }
.m300	{ margin: var(--s300) }   .m300-l { margin-left: var(--s300) }   .m300-r { margin-right: var(--s300) }   .m300-t { margin-top: var(--s300) }   .m300-b { margin-bottom: var(--s300) }
.m400	{ margin: var(--s400) }   .m400-l { margin-left: var(--s400) }   .m400-r { margin-right: var(--s400) }   .m400-t { margin-top: var(--s400) }   .m400-b { margin-bottom: var(--s400) }
.m500	{ margin: var(--s500) }   .m500-l { margin-left: var(--s500) }   .m500-r { margin-right: var(--s500) }   .m500-t { margin-top: var(--s500) }   .m500-b { margin-bottom: var(--s500) }
.m600	{ margin: var(--s600) }   .m600-l { margin-left: var(--s600) }   .m600-r { margin-right: var(--s600) }   .m600-t { margin-top: var(--s600) }   .m600-b { margin-bottom: var(--s600) }
.m700	{ margin: var(--s700) }   .m700-l { margin-left: var(--s700) }   .m700-r { margin-right: var(--s700) }   .m700-t { margin-top: var(--s700) }   .m700-b { margin-bottom: var(--s700) }
.m800	{ margin: var(--s800) }   .m800-l { margin-left: var(--s800) }   .m800-r { margin-right: var(--s800) }   .m800-t { margin-top: var(--s800) }   .m800-b { margin-bottom: var(--s800) }
.m900	{ margin: var(--s900) }   .m900-l { margin-left: var(--s900) }   .m900-r { margin-right: var(--s900) }   .m900-t { margin-top: var(--s900) }   .m900-b { margin-bottom: var(--s900) }

.m025v	{ margin: var(--s025v) }   .m025v-l { margin-left: var(--s025v) }   .m025v-r { margin-right: var(--s025v) }   .m025v-t { margin-top: var(--s025v) }   .m025v-b { margin-bottom: var(--s025v) }
.m050v	{ margin: var(--s050v) }   .m050v-l { margin-left: var(--s050v) }   .m050v-r { margin-right: var(--s050v) }   .m050v-t { margin-top: var(--s050v) }   .m050v-b { margin-bottom: var(--s050v) }
.m100v	{ margin: var(--s100v) }   .m100v-l { margin-left: var(--s100v) }   .m100v-r { margin-right: var(--s100v) }   .m100v-t { margin-top: var(--s100v) }   .m100v-b { margin-bottom: var(--s100v) }
.m150v	{ margin: var(--s150v) }   .m150v-l { margin-left: var(--s150v) }   .m150v-r { margin-right: var(--s150v) }   .m150v-t { margin-top: var(--s150v) }   .m150v-b { margin-bottom: var(--s150v) }
.m200v	{ margin: var(--s200v) }   .m200v-l { margin-left: var(--s200v) }   .m200v-r { margin-right: var(--s200v) }   .m200v-t { margin-top: var(--s200v) }   .m200v-b { margin-bottom: var(--s200v) }
.m300v	{ margin: var(--s300v) }   .m300v-l { margin-left: var(--s300v) }   .m300v-r { margin-right: var(--s300v) }   .m300v-t { margin-top: var(--s300v) }   .m300v-b { margin-bottom: var(--s300v) }
.m400v	{ margin: var(--s400v) }   .m400v-l { margin-left: var(--s400v) }   .m400v-r { margin-right: var(--s400v) }   .m400v-t { margin-top: var(--s400v) }   .m400v-b { margin-bottom: var(--s400v) }
.m500v	{ margin: var(--s500v) }   .m500v-l { margin-left: var(--s500v) }   .m500v-r { margin-right: var(--s500v) }   .m500v-t { margin-top: var(--s500v) }   .m500v-b { margin-bottom: var(--s500v) }
.m600v	{ margin: var(--s600v) }   .m600v-l { margin-left: var(--s600v) }   .m600v-r { margin-right: var(--s600v) }   .m600v-t { margin-top: var(--s600v) }   .m600v-b { margin-bottom: var(--s600v) }
.m700v	{ margin: var(--s700v) }   .m700v-l { margin-left: var(--s700v) }   .m700v-r { margin-right: var(--s700v) }   .m700v-t { margin-top: var(--s700v) }   .m700v-b { margin-bottom: var(--s700v) }
.m800v	{ margin: var(--s800v) }   .m800v-l { margin-left: var(--s800v) }   .m800v-r { margin-right: var(--s800v) }   .m800v-t { margin-top: var(--s800v) }   .m800v-b { margin-bottom: var(--s800v) }
.m900v	{ margin: var(--s900v) }   .m900v-l { margin-left: var(--s900v) }   .m900v-r { margin-right: var(--s900v) }   .m900v-t { margin-top: var(--s900v) }   .m900v-b { margin-bottom: var(--s900v) }

.p0		{ padding: 0; }
.p0-t	{ padding-top: 0; }
.p0-b	{ padding-bottom: 0; }
.p0-l	{ padding-left: 0; }
.p0-r	{ padding-right: 0; }

.p100	{ padding: var(--s100) }   .p100-l { padding-left: var(--s100) }   .p100-r { padding-right: var(--s100) }   .p100-t { padding-top: var(--s100) }   .p100-b { padding-bottom: var(--s100) }
.p200	{ padding: var(--s200) }   .p200-l { padding-left: var(--s200) }   .p200-r { padding-right: var(--s200) }   .p200-t { padding-top: var(--s200) }   .p200-b { padding-bottom: var(--s200) }
.p300	{ padding: var(--s300) }   .p300-l { padding-left: var(--s300) }   .p300-r { padding-right: var(--s300) }   .p300-t { padding-top: var(--s300) }   .p300-b { padding-bottom: var(--s300) }
.p400	{ padding: var(--s400) }   .p400-l { padding-left: var(--s400) }   .p400-r { padding-right: var(--s400) }   .p400-t { padding-top: var(--s400) }   .p400-b { padding-bottom: var(--s400) }
.p500	{ padding: var(--s500) }   .p500-l { padding-left: var(--s500) }   .p500-r { padding-right: var(--s500) }   .p500-t { padding-top: var(--s500) }   .p500-b { padding-bottom: var(--s500) }
.p600	{ padding: var(--s600) }   .p600-l { padding-left: var(--s600) }   .p600-r { padding-right: var(--s600) }   .p600-t { padding-top: var(--s600) }   .p600-b { padding-bottom: var(--s600) }
.p700	{ padding: var(--s700) }   .p700-l { padding-left: var(--s700) }   .p700-r { padding-right: var(--s700) }   .p700-t { padding-top: var(--s700) }   .p700-b { padding-bottom: var(--s700) }
.p800	{ padding: var(--s800) }   .p800-l { padding-left: var(--s800) }   .p800-r { padding-right: var(--s800) }   .p800-t { padding-top: var(--s800) }   .p800-b { padding-bottom: var(--s800) }
.p900	{ padding: var(--s900) }   .p900-l { padding-left: var(--s900) }   .p900-r { padding-right: var(--s900) }   .p900-t { padding-top: var(--s900) }   .p900-b { padding-bottom: var(--s900) }

.p025v	{ padding: var(--s025v) }   .p025v-l { padding-left: var(--s025v) }   .p025v-r { padding-right: var(--s025v) }   .p025v-t { padding-top: var(--s025v) }   .p025v-b { padding-bottom: var(--s025v) }
.p050v	{ padding: var(--s050v) }   .p050v-l { padding-left: var(--s050v) }   .p050v-r { padding-right: var(--s050v) }   .p050v-t { padding-top: var(--s050v) }   .p050v-b { padding-bottom: var(--s050v) }
.p100v	{ padding: var(--s100v) }   .p100v-l { padding-left: var(--s100v) }   .p100v-r { padding-right: var(--s100v) }   .p100v-t { padding-top: var(--s100v) }   .p100v-b { padding-bottom: var(--s100v) }
.p150v	{ padding: var(--s150v) }   .p150v-l { padding-left: var(--s150v) }   .p150v-r { padding-right: var(--s150v) }   .p150v-t { padding-top: var(--s150v) }   .p150v-b { padding-bottom: var(--s150v) }
.p200v	{ padding: var(--s200v) }   .p200v-l { padding-left: var(--s200v) }   .p200v-r { padding-right: var(--s200v) }   .p200v-t { padding-top: var(--s200v) }   .p200v-b { padding-bottom: var(--s200v) }
.p300v	{ padding: var(--s300v) }   .p300v-l { padding-left: var(--s300v) }   .p300v-r { padding-right: var(--s300v) }   .p300v-t { padding-top: var(--s300v) }   .p300v-b { padding-bottom: var(--s300v) }
.p400v	{ padding: var(--s400v) }   .p400v-l { padding-left: var(--s400v) }   .p400v-r { padding-right: var(--s400v) }   .p400v-t { padding-top: var(--s400v) }   .p400v-b { padding-bottom: var(--s400v) }
.p500v	{ padding: var(--s500v) }   .p500v-l { padding-left: var(--s500v) }   .p500v-r { padding-right: var(--s500v) }   .p500v-t { padding-top: var(--s500v) }   .p500v-b { padding-bottom: var(--s500v) }
.p600v	{ padding: var(--s600v) }   .p600v-l { padding-left: var(--s600v) }   .p600v-r { padding-right: var(--s600v) }   .p600v-t { padding-top: var(--s600v) }   .p600v-b { padding-bottom: var(--s600v) }
.p700v	{ padding: var(--s700v) }   .p700v-l { padding-left: var(--s700v) }   .p700v-r { padding-right: var(--s700v) }   .p700v-t { padding-top: var(--s700v) }   .p700v-b { padding-bottom: var(--s700v) }
.p800v	{ padding: var(--s800v) }   .p800v-l { padding-left: var(--s800v) }   .p800v-r { padding-right: var(--s800v) }   .p800v-t { padding-top: var(--s800v) }   .p800v-b { padding-bottom: var(--s800v) }
.p900v	{ padding: var(--s900v) }   .p900v-l { padding-left: var(--s900v) }   .p900v-r { padding-right: var(--s900v) }   .p900v-t { padding-top: var(--s900v) }   .p900v-b { padding-bottom: var(--s900v) }














/* -----------------------------------TYPOGRAPHY--------------------------------------- */




/* -------------------------- INDEX PAGE RAINBOW ANIMATION --------------------------- */


#rainbow span {
    animation: colorChange 40s infinite;
    animation-fill-mode: forwards;
    animation-delay: 3s; /* Delay before starting the animation */
    letter-spacing: -6px; /* Reduce spacing between letters */
  }
  
  #rainbow span:nth-child(1) { animation-delay: 5100ms; /* Initial delay */ }
  #rainbow span:nth-child(2) { animation-delay: 5200ms; }
  #rainbow span:nth-child(3) { animation-delay: 5300ms; }
  #rainbow span:nth-child(4) { animation-delay: 5400ms; }
  #rainbow span:nth-child(5) { animation-delay: 5500ms; } /* Space delay */
  #rainbow span:nth-child(6) { animation-delay: 5600ms; }
  #rainbow span:nth-child(7) { animation-delay: 5700ms; }
  #rainbow span:nth-child(8) { animation-delay: 5800ms; }
  #rainbow span:nth-child(9) { animation-delay: 5900ms; }
  #rainbow span:nth-child(10) { animation-delay: 6000ms; }
  #rainbow span:nth-child(11) { animation-delay: 6100ms; }
  #rainbow span:nth-child(12) { animation-delay: 6200ms; }
  #rainbow span:nth-child(13) { animation-delay: 6300ms; }
  #rainbow span:nth-child(14) { animation-delay: 6400ms; }
  #rainbow span:nth-child(15) { animation-delay: 6500ms; }
  #rainbow span:nth-child(16) { animation-delay: 6600ms; } /* Space delay */
  #rainbow span:nth-child(17) { animation-delay: 6700ms; }
  #rainbow span:nth-child(18) { animation-delay: 6800ms; }
  #rainbow span:nth-child(19) { animation-delay: 6900ms; } /* Space delay */
  #rainbow span:nth-child(20) { animation-delay: 7000ms; }
  #rainbow span:nth-child(21) { animation-delay: 7100ms; }
  #rainbow span:nth-child(22) { animation-delay: 7200ms; }
  #rainbow span:nth-child(23) { animation-delay: 7300ms; }
  #rainbow span:nth-child(24) { animation-delay: 7400ms; }
  #rainbow span:nth-child(25) { animation-delay: 7500ms; }
  #rainbow span:nth-child(26) { animation-delay: 7600ms; }
  #rainbow span:nth-child(27) { animation-delay: 7700ms; }
  #rainbow span:nth-child(28) { animation-delay: 7700ms; }

  @keyframes colorChange {
    10% { color: white;}
    30% { color: red; }
    38% { color: orange; }
    46% { color: yellow; }
    54% { color: green; }
    62% { color: blue; }
    70% { color: indigo; }
    78% { color: violet; }
    86% {color: white; }
 
  }
  
  



/* typography -> headings */

h1, h2, h3, h4, h5, h6 {
	color: inherit;
	font-family: 'font-secondary', system-ui, sans-serif;
	font-weight: 600;
    line-height: 1.2;
	margin: var(--step-2) 0 var(--step-0) 0;
}

/* -------------------------------------------------------------------------- */
/* typography -> lists & paragraphs */

p, ul, ol	{
	margin: 0 0 var(--step-0) 0;
}
ul, ol {
	padding-left: var(--step-3);
}

ul ul, ol ol {
	margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/* typography -> font sizes */

.text-s, h5, h6	    	{ font-size: 0.8125rem; font-size: var(--step--1);	}	/* 13->16 */	
.text-base, body, h4	{ font-size: 1rem; 		font-size: var(--step-0); 	}	/* 16->20 */ 
.text-m, h3				{ font-size: 1.125rem; 	font-size: var(--step-1);	}	/* 18->28 */ 
.text-l, h2				{ font-size: 1.375rem; 	font-size: var(--step-2);	}	/* 22->38 */ 
.text-xl				{ font-size: 1.6875rem;	font-size: var(--step-3);	}	/* 27->48 */
.text-xxl				{ font-size: 2rem;		font-size: var(--step-4); 	}	/* 32->67 */
.text-xxxl				{ font-size: 2.5rem;	font-size: var(--step-5); 	}	/* 40->96 */
.text-huge, h1			{ font-size: 2.875rem;	font-size: var(--step-6); 	}	/* 46-> 150 */

/* -------------------------------------------------------------------------- */
/* typography -> styling */

.lh-08					{ line-height: 0.8; }
.lh-09					{ line-height: 0.9; }
.lh-1					{ line-height: 1; }
.lh-11					{ line-height: 1.1; }
.lh-12					{ line-height: 1.2; }
.lh-125					{ line-height: 1.25; }
.lh-133					{ line-height: 1.33; }
.lh-14					{ line-height: 1.4; }
.lh-15					{ line-height: 1.5; }


.ls--1					{ letter-spacing: -1px;}
.ls-1					{ letter-spacing: 1px;}
.uppercase				{ text-transform: uppercase; }
.lowecase				{ text-transform: lowercase; }
.capitalize				{ text-transform: capitalize; }

.balance				{ text-wrap: balance; overflow-wrap: normal; }

.text-center			{ text-align: center; }
.text-left				{ text-align: left; }
.text-right				{ text-align: right; }

.list-none				{ list-style: none; }

blockquote {
	background-color: rgb(var(--fatigue-925));
	margin: var(--step-2) 0;
	padding: 2rem;
}

.highlight-em em {
	font-style: normal;
	position: relative;
}
.highlight-em em::after {
	content: '';
	height: 3rem;
	left: 0.25rem;
	bottom: 0.25rem;
	right: -0.25rem;
	background-color: rgb(var(--fatigue-950));
	transform: skew(-15deg) rotate(-2deg);
	position: absolute;
	border-radius: var(--s025v);
	z-index: -1;
}

.colour-change-em em {
	color: rgb(var(--fatigue-500));
	font-family: inherit;
	font-style: normal;
	position: relative;
	font-weight: inherit;
}

.colour-change-em a {
	text-decoration-color: rgb(var(--fatigue-500));
	
}

/* -------------------------------------------------------------------------- */
/* typography -> links */

a			{ color: rgb(var(--white)); text-decoration-thickness: 3px; text-decoration-color: rgb(var(--accent)); }
a:hover		{ color: rgb(var(--accent)); }
a:active	{ color: rgb(var(--white)); }

.no-bdr, .nobdr { text-decoration: none; }

/* -------------------------------------------------------------------------- */
/* typography -> buttons */

.btn	{
	background-color: rgb(var(--fatigue-600));
	-webkit-appearance: none; -moz-appearance: none; appearance: none;
	border: 1px solid rgb(var(--fatigue-500));
	border-radius: var(--s050v);
	color: rgb(var(--white));
	cursor: pointer;
	display: inline-block;
	font-family: 'font-primary', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400;
	font-size: inherit;
	padding: 0.625rem var(--s200v);
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	white-space: nowrap;
}

.btn:hover  				{ background-color: rgb(var(--fatigue-400)); color: rgb(var(--white)); }

.btn-white {
	background-color: rgb(var(--white));
	border-color: rgb(var(--white));
	color: rgb(var(--fatigue-600));
	font-family: 'font-primary', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 500;
}
.btn-white:hover  				{ background-color: rgb(var(--accent)); border-color: rgb(var(--accent));  color: rgb(var(--fatigue-900)); }

.btn-bright {
	background-color: rgb(var(--accent));
	border-color: rgb(var(--accent)); 
	color: rgb(var(--fatigue-925));
	font-family: 'font-primary', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 500;
}
.btn-bright:hover  				{ background-color: rgb(var(--white)); border-color: rgb(var(--white)); color: rgb(var(--fatigue-925)); }


.btn-dark {
	background-color: rgb(var(--fatigue-950));
	border-color: rgb(var(--fatigue-800)); 
	color: rgb(var(--white));
}
.btn-dark:hover  				{ background-color: rgb(var(--fatigue-700)); border-color: rgb(var(--fatigue-700)); color: rgb(var(--white)); }

.btn-darker {
	background-color: rgb(var(--fatigue-975));
	border-color: rgb(var(--fatigue-900)); 
	color: rgb(var(--white));
}
.btn-darker:hover  				{ background-color: rgb(var(--fatigue-800)); border-color: rgb(var(--fatigue-800)); color: rgb(var(--white)); }

.btn-small {
	padding: 0.5rem var(--s100v);
}

.btn-block {
	display: block;
	text-align: center;
	width: 100%;
}

/* -------------------------------------------------------------------------- */
/* THEME
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* theme -> colours */

.white 				{ color: rgb(var(--white)); }
.bg-white 			{ background-color: rgb(var(--white)); }
.black 				{ color: rgb(var(--black)); }
.bg-black 			{ background-color: rgb(var(--black)); }
.primary 			{ color: rgb(var(--primary)); }
.bg-primary 		{ background-color: rgb(var(--primary)); }
.secondary 			{ color: rgb(var(--secondary)); }
.bg-secondary 		{ background-color: rgb(var(--secondary)); }
.teritary 			{ color: rgb(var(--teritary)); }
.bg-teritary 		{ background-color: rgb(var(--teritary)); }
.light 				{ color: rgb(var(--light)); }
.bg-light 			{ background-color: rgb(var(--light)); }
.dark 				{ color: rgb(var(--dark)); }
.bg-dark 			{ background-color: rgb(var(--dark)); }
.accent 				{ color: rgb(var(--accent)); }
.bg-accent 			{ background-color: rgb(var(--accent)); }

.bg-fatigue-1000 	{ background-color: rgb(var(--fatigue-1000)); }
.bg-fatigue-999 	{ background-color: rgb(var(--fatigue-999)); }
.bg-fatigue-975 	{ background-color: rgb(var(--fatigue-975)); }
.bg-fatigue-950 	{ background-color: rgb(var(--fatigue-950)); }
.bg-fatigue-925 	{ background-color: rgb(var(--fatigue-925)); }
.bg-fatigue-900 	{ background-color: rgb(var(--fatigue-900)); }
.bg-fatigue-800 	{ background-color: rgb(var(--fatigue-800)); }
.bg-fatigue-700 	{ background-color: rgb(var(--fatigue-700)); }
.bg-fatigue-600 	{ background-color: rgb(var(--fatigue-600)); }
.bg-fatigue-500 	{ background-color: rgb(var(--fatigue-500)); }
.bg-fatigue-400 	{ background-color: rgb(var(--fatigue-400)); }
.bg-fatigue-300 	{ background-color: rgb(var(--fatigue-300)); }
.bg-fatigue-200 	{ background-color: rgb(var(--fatigue-200)); }
.bg-fatigue-100 	{ background-color: rgb(var(--fatigue-100)); }
.bg-fatigue-050 	{ background-color: rgb(var(--fatigue-050)); }
.bg-success 		{ background-color: rgb(var(--success)); }
.bg-warning 		{ background-color: rgb(var(--warning)); }
.bg-danger 			{ background-color: rgb(var(--danger)); }

.fatigue-999 		{ color: rgb(var(--fatigue-999)); }
.fatigue-975 		{ color: rgb(var(--fatigue-975)); }
.fatigue-950 		{ color: rgb(var(--fatigue-950)); }
.fatigue-925 		{ color: rgb(var(--fatigue-925)); }
.fatigue-900 		{ color: rgb(var(--fatigue-900)); }
.fatigue-800 		{ color: rgb(var(--fatigue-800)); }
.fatigue-700 		{ color: rgb(var(--fatigue-700)); }
.fatigue-600 		{ color: rgb(var(--fatigue-600)); }
.fatigue-500 		{ color: rgb(var(--fatigue-500)); }
.fatigue-400 		{ color: rgb(var(--fatigue-400)); }
.fatigue-300 		{ color: rgb(var(--fatigue-300)); }
.fatigue-200 		{ color: rgb(var(--fatigue-200)); }
.fatigue-100 		{ color: rgb(var(--fatigue-100)); }
.fatigue-050 		{ color: rgb(var(--fatigue-050)); }
.success 			{ color: rgb(var(--success)); }
.warning 			{ color: rgb(var(--warning)); }
.danger 			{ color: rgb(var(--danger)); }

/* -------------------------------------------------------------------------- */
/* theme -> borders */

.bdr	{
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
}

.bdr-t 		{ border-left-width: 0; border-right-width: 0; border-bottom-width: 0; }
.bdr-b 		{ border-left-width: 0; border-right-width: 0; border-top-width: 0; }
.bdr-l 		{ border-top-width: 0; border-right-width: 0; border-bottom-width: 0; }
.bdr-r 		{ border-left-width: 0; border-top-width: 0; border-bottom-width: 0; }

.bdr-tb 	{ border-left-width: 0; border-right-width: 0; }
.bdr-lr 	{ border-top-width: 0; border-bottom-width: 0; }

.bdr-t0		{ border-top-width: 0; }
.bdr-b0		{ border-bottom-width: 0; }
.bdr-l0		{ border-left-width: 0; }
.bdr-r0		{ border-right-width: 0; }

.bdr-2 		{ border-width: 2px; }

.bdr-fatigue-999 		{ border-color: rgb(var(--fatigue-999)); }
.bdr-fatigue-975 		{ border-color: rgb(var(--fatigue-975)); }
.bdr-fatigue-950 		{ border-color: rgb(var(--fatigue-950)); }
.bdr-fatigue-925 		{ border-color: rgb(var(--fatigue-925)); }
.bdr-fatigue-900 		{ border-color: rgb(var(--fatigue-900)); }
.bdr-fatigue-800 		{ border-color: rgb(var(--fatigue-800)); }
.bdr-fatigue-700 		{ border-color: rgb(var(--fatigue-700)); }
.bdr-fatigue-600 		{ border-color: rgb(var(--fatigue-600)); }
.bdr-fatigue-500 		{ border-color: rgb(var(--fatigue-500)); }
.bdr-fatigue-400 		{ border-color: rgb(var(--fatigue-400)); }
.bdr-fatigue-300 		{ border-color: rgb(var(--fatigue-300)); }
.bdr-fatigue-200 		{ border-color: rgb(var(--fatigue-200)); }
.bdr-fatigue-100 		{ border-color: rgb(var(--fatigue-100)); }
.bdr-fatigue-050 		{ border-color: rgb(var(--fatigue-050)); }

/* -------------------------------------------------------------------------- */
/* theme -> shadows */

.shadow-soft			{ box-shadow: 0 0 3rem rgba(var(--fatigue-999), 0.2); }


/* -------------------------------------------------------------------------- */
/* theme -> radius/radii */

.rad50, .rad-50		{ border-radius: 50%; }

.rad-xxs	{ border-radius: var(--s025v); }
.rad-xs		{ border-radius: var(--s050v); }
.rad-s		{ border-radius: var(--s100v); }
.rad-m		{ border-radius: var(--s150v); }
.rad-l		{ border-radius: var(--s200v); }
.rad-xl		{ border-radius: var(--s300v); }
.rad-xxl	{ border-radius: var(--s400v); }

.rad-t	{ border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.rad-tl	{ border-top-right-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.rad-tr	{ border-top-left-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

.rad-b	{ border-top-right-radius: 0; border-top-left-radius: 0; }
.rad-bl	{ border-top-right-radius: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; }
.rad-br	{ border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; }


/* -------------------------------------------------------------------------- */
/* theme -> blur */

.blur-1    { filter: blur(1rem);}
.blur-2    { filter: blur(2rem);}
.blur-3    { filter: blur(3rem);}
.blur-5    { filter: blur(5rem);}
.blur-10   { filter: blur(10rem);}
.blur-20   { filter: blur(20rem);}

/* -------------------------------------------------------------------------- */
/* theme -> opacity */

.op5 { opacity: 0.05; }
.op10 { opacity: 0.10; }
.op20 { opacity: 0.20; }
.op25 { opacity: 0.25; }
.op30 { opacity: 0.30; }
.op40 { opacity: 0.40; }
.op50 { opacity: 0.50; }
.op60 { opacity: 0.60; }
.op70 { opacity: 0.70; }
.op75 { opacity: 0.75; }
.op80 { opacity: 0.80; }
.op90 { opacity: 0.90; }
.op95 { opacity: 0.95; }
.op100 { opacity: 1.00; }

/* -------------------------------------------------------------------------- */
/* theme -> patterns/textures */

.grain::after {
	background-position: top center;
	background-size: cover;
	content: '';
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	opacity: 0.4;
}

.grain-1::after { background-image: url('/assets/img/patterns/grain-1.svg'); }
.grain-2::after { background-image: url('/assets/img/patterns/grain-2.svg'); }
.grain-3::after { background-image: url('/assets/img/patterns/grain-3.svg'); }
.grain-4::after { background-image: url('/assets/img/patterns/grain-4.svg'); }
.grain-5::after { background-image: url('/assets/img/patterns/grain-5.svg'); }
.grain-6::after { background-image: url('/assets/img/patterns/grain-6.svg'); }

.noise {
	background-image: url('/assets/img/noise.svg');
	background-repeat: repeat;
	background-position: left top;
	background-size: 700px;
}


/* -------------------------------------------------------------------------- */
/* HEADER
/* -------------------------------------------------------------------------- */

.header {
	padding: 0;
	position: relative;
	z-index: 100;
}
.header::-webkit-scrollbar {
    display: none;
}
.header-inner	{
	min-height: 100%;
}

/* -------------------------------------------------------------------------- */
/* header -> logo */

.header-logo {
	margin-left: 1rem;
	position: relative;
	width: 12rem;
}
.header-logo a {
	display: block;
}
.header-logo img {
	width: 100%;
	height: auto;
    
}

/* -------------------------------------------------------------------------- */
/* header -> pushy navigation */
	
	.site-nav-parent__label > span {
		/* two-line nav labels for services and contact */
		display: inline;
	}
	.site-nav a.is-active {
        text-decoration: underline;
		text-decoration-thickness: 1px;
	}
	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* pushy: related styles */
	.site-overlay		{ background-color: rgba(var(--black), 0.75); }
	.menu-btn           { background-color: transparent; border: 0; border-left: 1px solid rgb(var(--fatigue-700)); border-radius: 0; color: rgb(var(--fatigue-100)); height: 5rem; letter-spacing: 1px; padding: 0; width: 4.5rem; }
	.menu-btn:hover		{ background-color: transparent; color: rgb(var(--fatigue-100)); }
	.menu-btn-icon		{ fill: rgb(var(--fatigue-200)); margin-top: 5px; }
	.pushy-home			{ border-bottom: 1px solid rgb(var(--fatigue-700)); display: block; margin-bottom: 1rem; background-repeat: no-repeat; background-image: url('/assets/img/donnelly-woodworking-logo-white.svg'); background-size: 12rem auto; background-position: center; height: 5rem; }
	.pushy a:focus, .pushy button:focus, .menu-btn:focus { outline: none; }
	.pushy-content                                       { visibility: hidden; }
	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* pushy: the main drawer */
	.pushy                              { background: rgb(var(--fatigue-925)); height: 100%; overflow: auto; -webkit-overflow-scrolling: touch; padding: 0 0 16rem 0; position: fixed; top: 0; width: 16rem; z-index: 9999; }
	.pushy.pushy-left                   { left: 0; }
	.pushy.pushy-right                  { right: 0; }
	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* pushy: site overlay */
	.pushy-open-left .site-overlay,
	.pushy-open-right .site-overlay     { display: block; position: fixed; z-index: 9998; -webkit-animation: fade 1s; animation: fade 1s; }
	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* pushy: menu movement - match width of the .pushy class */
	@keyframes fade         { 0% { opacity: 0; } 100% { opacity: 1; } }
	@-webkit-keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }
	.pushy-left                                                         { -webkit-transform: translate3d(-16rem, 0, 0); -ms-transform: translate3d(-16rem, 0, 0); transform: translate3d(-16rem, 0, 0); }
	.pushy-right                                                        { -webkit-transform: translate3d(16rem, 0, 0); -ms-transform: translate3d(16rem, 0, 0); transform: translate3d(16rem, 0, 0); }
	.pushy-open-left .pushy, .pushy-open-right .pushy                   { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
	.pushy-open-left .pushy-content, .pushy-open-right .pushy-content   { visibility: visible; }
	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	/* pushy: menu transitions */
	.pushy, .push                       { transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99); }
	.pushy-content                      { transition: visibility 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

/* -------------------------------------------------------------------------- */
/* LAYOUTS */

/* -------------------------------------------------------------------------- */
/* layout -> layout row */

.layout__row {
	border-bottom: 1px solid rgb(var(--fatigue-800));
}
.layout__row.strip-bdr {
	border-bottom: 0;
}

.layout__row .block__heading:first-child > * {
	margin-top: 0;
}


/* -------------------------------------------------------------------------- */
/* layout -> page title */

.page-title::after {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background-color: rgb(var(--fatigue-700));
	content: '';
	z-index: 1;
}

.page-title.faq-title::after {
	display: none;
}

.page-title--thumbs {
	width: calc(.5 * var(--gutter) + 28%);
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	right: calc(-.5 * var(--gutter))
}

.page-title--thumb-wrap {
	height: calc(50% - 0.25rem);
	position: relative;
	width: 100%;
}

.page-title--thumb {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

.page-title--thumb-wrap:nth-of-type(2) {
	height: calc(50% - 0.25rem);
	width: calc(50% - 0.25rem);
}
.page-title--thumb-wrap:nth-of-type(3) {
	height: calc(50% - 0.25rem);
	width: calc(50% - 0.25rem);
}

.page-title h1 {
	margin: 0;
}

.logo-stamp--img {
	margin-right: calc(-.6 * var(--step-6));
	margin-top: var(--s100v);
	transform: rotate(20deg);
	opacity: 8%;
}

.landing-logo--img {
	transform: rotate(20deg);
}

/* -------------------------------------------------------------------------- */
/* layout -> page intro */

.page-intro {
	margin-bottom: -1px;
}

/* -------------------------------------------------------------------------- */
/* kirby blocks -> image */

.block__image-img,
.block__gallery-img {
    background-color: var(--neutral-200);
    display: block;
    width: 100%;
    aspect-ratio: var(--ratio);
    object-fit: contain;
}

.block__image-img[data-crop=""],
.block__gallery-img[data-crop=""] {
    object-fit: cover;
}

/* -------------------------------------------------------------------------- */
/* kirby blocks -> video */

.block__video .block__video-wrap {
    aspect-ratio: 16/9;
    border-radius: var(--rad-l);
    overflow: hidden;
    position: relative;
}

.block__video iframe {
    border: 0;
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}


/* -------------------------------------------------------------------------- */
/* layout -> portal */

.portal--ul {
	gap: var(--s200v);
}

.portal--ul img {
	max-height: calc(3 * var(--s900v));
	object-fit: cover;
	width: 100%;
}

.portal--ul .overlay {
	background-image:radial-gradient(100% 100% at 0% 100%, rgba(0, 0, 0, 0.75) 18%, rgba(0, 0, 0, 0.64) 26.4%, rgba(0, 0, 0, 0.53) 34.8%, rgba(0, 0, 0, 0.42) 43.2%, rgba(0, 0, 0, 0.2) 60%);
	background-color: rgba(var(--black), 0.1);
	transition: all 0.3s ease-in-out;
}

.portal--link:hover {
	color: rgb(var(--white));
}

.portal--link:hover .overlay {
	opacity: 0;
}

.portal--link:hover .portal--read-label {
	opacity: 1;
	color: rgb(var(--accent));
}

.portal--read-label {
	transition: all 0.3s ease-in-out;
}

.portal--link::after {
	position: absolute;
	left: 0; right: 0;
	bottom: 0;
	background: linear-gradient(10deg, rgba(var(--fatigue-999),1) 0%, rgba(var(--fatigue-999),0) 50%); 
	content: '';
	transition: all 0.25s ease-in-out;
	height: 0;
}

.portal--link:hover::after {
	height: 100%;
}

/* ------------------------------layout -> accordion FAQs-------------------------------------------- */
/* layout -> accordion FAQs */

.accordion-faq--question {
	position: relative;
	padding-right: 100px;
	
}

.accordion-faq--question::after {
	align-items: center;
	color: rgb(var(--fatigue-500));
	content: '\f063';
	display: flex;
	font: var(--fa-font-solid);
	height: 2rem;
	justify-content: center;
	position: absolute;
	right: var(--s100);
	text-align: center;
	top: var(--s200v);
	transition: transform 0.5s ease;
	width: 2rem;
}

.collapsible.active .accordion-faq--question::after {
	transform: rotate(-180deg);
}

.collapsible.active {
	background-color: rgb(var(--fatigue-700));
}

/* -------------------------------------------------------------------------- */
/* layout -> random review */

.random-review--hr.alpha {
	position: relative;
}

.random-review--hr.alpha::after {
	background-color: rgba(var(--fatigue-900), 1);
	content: 'â€œâ€';
	position: absolute;
	left: 50%;
	bottom: -1rem;
	margin-left: -4rem;
	height: 2rem;
	padding-left: 2px;
	font-size: var(--step-6);
	color: rgb(var(--fatigue-950));
	line-height: 0.65;
	width: 8rem;

}

/* -------------------------------------------------------------------------- */
/* layout -> reviews listing */

/* -------------------------------------------------------------------------- */
/* layout -> feature */

/* -------------------------------------------------------------------------- */
/* feature -> collapsible groups (like for FAQs) */

.collapsible-group {
	border-bottom: 1px solid rgb(var(--fatigue-700));
}
.collapsible {
	border-top: 1px solid rgb(var(--fatigue-700));
}
.collapsible-header {
	cursor: pointer;
}
.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}
.collapsible.active .collapsible-content {
	max-height: 1000px; /* Adjust this value based on your content */
}

/* -------------------------------------------------------------------------- */
/* SERVICES LANDING PAGE
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SERVICE DETAIL PAGE
/* -------------------------------------------------------------------------- */

.circle-mask {
	left: -2px;
	right: -2px;
	bottom: -2px;
	top: -2px;
	height: calc(100% + 4px);
	width: calc(100% + 4px);
	max-width: none;
}

/* -------------------------------------------------------------------------- */
/* service detail page -> intro */

.service-intro {
	background-color: rgb(var(--fatigue-950));
}

/* -------------------------------------------------------------------------- */
/* service detail page -> my approach section */

.service-approach--card img {
	transform: rotate(-10deg);
}
.service-approach--card:nth-of-type(2) img {
	transform: rotate(10deg);
}


/* -------------------------------------------------------------------------- */
/* service detail page -> benefits section */

.service-benefit {
	display: flex;
}
.service-benefit--icon {
	position: relative;
	width: calc(100% / 5);
}

.service-benefit--icon img {
	height: auto;
	left: 0;
	max-width: none;
	opacity: 0.5;
	position: absolute;
	top: calc(-1 * var(--s700));
	width: 150%;
	z-index: -1;
}
.service-benefit--copy {
	width: calc(100% / 5 * 4);
}

/* -------------------------------------------------------------------------- */
/* service detail page -> service navigation / nav cards */

.service--nav-cards-li {
	min-height: calc(2 * var(--step-6));
}

.service--nav-cards-img {
	transition: opacity 0.3s ease-in-out;
}

.service--nav-cards-li:hover  .service--nav-cards-img {
	opacity: 0.8;
}

/* -------------------------------------------------------------------------- */
/* PORTFOLIO / GALLERY / THUMB GALLERIES
/* -------------------------------------------------------------------------- */

.gallery-item {
	height: calc(4 * var(--step-6));
	max-height: 30rem;

	overflow: hidden;
    transition: border-radius 0.3s ease-in-out;
}

.gallery-item--image {
    transition: opacity 0.3s ease-in-out;
}
 
.gallery-item:hover {
    border-radius: 0.2rem;
}

.gallery-item:hover img {
    opacity: 1;
}

/* -------------------------------------------------------------------------- */
/* CONTACT PAGE */
/* -------------------------------------------------------------------------- */

.contact-col-info li {
	display: flex;
	align-items: start;
}

.contact-col-icon {
	width: 2rem;
	padding-top: 2px;
}
.contact-col-data {
	width: calc(100% - 2rem);
}

/* -------------------------------------------------------------------------- */
/* FORMS
/* -------------------------------------------------------------------------- */

.uniform__potty {
    position: absolute;
    left: -9999px;
}

.rtb-form label, .rtb-form .label {
	display: block;
	cursor: pointer;
	line-height: 1;
	margin-bottom: var(--s050v);
}

.rtb-form .row {
	margin: 0 0 var(--s150v) 0;
}
.rtb-form .row.omega {
	margin-bottom: 0;
}
.rtb-form input[type="text"],
.rtb-form input[type="email"],
.rtb-form input[type="number"],
.rtb-form textarea {
	appearance: none;
	-webkit-appearance: none;
	border: 0;
	border-radius: var(--s025v);
	box-shadow: none;
	display: block;
	font-size: 1rem;
	line-height: 1.2;
	padding: 0.75rem 1rem;
	width: 100%;
}
.rtb-form input[type="number"] {
	max-width: 20rem;
}
.rtb-form textarea {
	min-height: 8rem;
}
.rtb-form label.error {
	color: rgb(var(--warning));
}

.rtb-form input:focus,
.rtb-form textarea:focus {
	outline: 0.25rem solid rgb(var(--fatigue-400));
}

/* -------------------------------------------------------------------------- */
/* ARTICLE DETAIL & LISTING CARDS
/* -------------------------------------------------------------------------- */

.article-page .layout__row:last-of-type {
	border-bottom: 0;
}

.article-title {
	padding-bottom: calc(var(--s700v) + (var(--s800v) * -0.5));
}

.article-img--wrap {
	margin-left: var(--gutter);
	margin-right: var(--gutter);
	margin-bottom: calc(var(--s800v) * -0.5);
}

.article-cards__label {
	transition: color 0.3s ease-in-out;
}

.article-cards__link {
	transition: background-color 0.3s ease-in-out;
}

.article-cards__link:hover .article-cards__label {
	opacity: 1;
	color: rgb(var(--accent));
}

.article-cards__link:hover {
	background-color: rgb(var(--fatigue-800));
}


/* -------------------------------------------------------------------------- */
/* MAP
/* -------------------------------------------------------------------------- */

.map-wrap {
	position: relative;
	min-height: 20rem;
	height: 100%;
}

.map-wrap iframe {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	height: 100%;
	width: 100%;
}


/* -------------------------------------------------------------------------- */
/* FOOTER
/* -------------------------------------------------------------------------- */

.footer--inner {
	row-gap: var(--s600v);
}

.footer-nav--link {
	padding: 7px 0;
}


/* -------------------------------------------------------------------------- */
/* HELPERS
/* -------------------------------------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}